*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --primary-bg: #fff;
    --primary-color: #51586a;
    --primary-heading: #080415;
    --primary-btn: #5d3bee;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}

/* --- Common ---*/

a {
    text-decoration: none;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 62px;
    background-color: var(--primary-btn);
    color: #fdfdfd;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.66;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line,3);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-1 {
   --line: 1;
}

.line-clamp-2 {
    --line: 2;
 }
 

/* --- Header ---  */
.header {
    background: #fbfaff;
}

.header .menu {
    display: flex;
    align-items: center;
}

.header .email {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header .email__icon {
    position: relative;
}

.header .email__icon::before {
    display: inline-block;
    content: "";
    position: absolute;
    top: -15px;
    left: -11px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--primary-btn);
    opacity: 0.2;
}

.email__icon--heart {
    width: 24px;
    height: 16px;
}

.header .email__text {
    color: var(--primary-heading);
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36;
    text-decoration-line: underline;
}

.header .logo {
    margin-left: 357px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.header .navigation__list {
    display: flex;
    align-items: center;
}

.header .navigation {
    margin-left: auto;
}

.header .navigation__link {
    position: relative;
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 400;
    padding: 8px 22px;
}

.header .navigation__link::after {
    display: inline-block;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-btn);
    transition: width 0.3s;
}

.header .navigation__link:hover::after {
    width: 100%;
}

/* -- Hero-Inner */
.hero {
    position: relative;
    background: #fbfaff;
}

.hero__inner {
    display: flex;
    justify-content: center;
    padding-top: 44px;
}

.hero__media {
    position: relative;
    min-width: 514px;
    height: 705px;
    flex-shrink: 0;
}

.hero__media-img {
    position: relative;
    z-index: 1;
}

.media--diagonal-line {
    position: absolute;
    right: -156px;
    top: -80px;
}

.hero__content {
    margin-left: 156px;
    margin-top: 137px;
}

.hero__content-heading {
    max-width: 500px;
    color: var(--primary-heading);
    font-size: 8rem;
    font-weight: 500;
    line-height: 0.95;
    letter-spacing: -3.2px;
}

.hero__content-desc {
    margin-top: 20px;
    max-width: 370px;
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.hero__content-row {
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
}

.hero__content-link {
    color: var(--primary-heading);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.66;
    text-decoration-line: underline;
}

.hero__content-footer {
    margin-top: 109px;
}

.hero__content-text {
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.87;
}

.hero-social {
    display: flex;
    align-items: center;
    gap: 42px;
}

.hero-social__link {
    position: relative;
    font-size: 16px;
    color: var(--primary-heading);
}

.hero-social__link:hover {
    color: #e47878;
}

.hero-social__link::after {
    display: inline-block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #5d3bee;
    opacity: 0.2;
    border-radius: 50%;
}

.hero-social__link:hover::after {
    opacity: 1;
}

.hero__diagonal {
    position: absolute;
    right: calc((100vw - 1330px) / 2 - 80px);
    bottom: 0;
}

/* ---- Client ---- */
.client {
    margin-top: 48px;
    padding: 50px 0;
    background: var(--primary-bg);
}

.client__inner {
    display: flex;
    justify-content: center;
    gap: 105px;
}

.client__sub-heading {
    position: relative;
    margin-top: 11px;
    max-width: 253px;
    color: var(--primary-heading);
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: -1.68px;
    margin-left: 99px;
}

.client__sub-heading::before {
    position: absolute;
    top: 22px;
    left: -99px;
    display: inline-block;
    content: "";
    width: 86px;
    height: 2px;
    background: #5d3bee;
}

.client__social-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 34px;
}

/* --- Specialities ---  */
.specialities {
    margin-top: 33px;
    padding: 50px 0;
    background-color: var(--primary-bg);
}

.specialities__container {
    width: 1170px;
}

.specialities__sub-heading {
    text-align: center;
    color: var(--primary-heading);
    font-size: 5.6rem;
    font-weight: 500;
    letter-spacing: -2.24px;
}

.specialities__desc {
    margin: 20px auto 0;
    max-width: 534px;
    color: var(--primary-color);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.specialities__list {
    margin-top: 60px;
}

.specialities__item {
    width: 370px;
    padding: 32px 42px;
    background: #fbfaff;
}

.specialities__item:hover {
    box-shadow: 1px 1px 5px #e4e2eb;
}

.specialities__icon {
    position: relative;
    width: 78px;
    height: 78px;
    object-fit: cover;
}

.specialities__icon:hover  {
   cursor: pointer;
}

.specialities__icon img {
    width: 78px;
    height: 78px;
    object-fit: cover;
}

.specialities__icon::before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--primary-btn);
    opacity: 0.2;
}

.specialities__icon:hover::before {
    opacity: 1;
}

.specialities__item-sub-heading {
    margin-top: 40px;
    color: var(--primary-heading);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
}

.specialities__item-desc {
    margin-top: 15px;
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.line-clamp {

}