*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --primary-bg: #fff;
    --primary-color: #51586a;
    --primary-heading: #080415;
    --primary-btn: #5d3bee;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

/* --- Common ---*/

a {
    text-decoration: none;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 62px;
    background-color: var(--primary-btn);
    color: #fdfdfd;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.66;
}

.btn:hover {
    cursor: pointer;
    background-color: #78e4b0;
    transition: background-color 0.3s linear;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-1 {
    --line: 1;
}

.line-clamp-2 {
    --line: 2;
}

.dots {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-bottom: 10px;
}

.dot {
    width: 15px;
    height: 15px;
    background: #080415;
    border-radius: 50%;
    opacity: 0.2;
}

.dot.active {
    position: relative;
    background-color: #5d3bee;
    opacity: 1;
}

.dot.active::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: 2px solid #5d3bee;
}

/* --- Header ---  */
.header {
    background: #fbfaff;
}

.heder__container {
    min-width: 1330px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__email {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu__email-icon {
    position: relative;
}

.menu__email-icon::before {
    display: inline-block;
    content: "";
    position: absolute;
    top: -15px;
    left: -11px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--primary-btn);
    opacity: 0.2;
}

.menu__email-icon--heart {
    width: 24px;
    height: 16px;
}

.menu__email-text {
    color: var(--primary-heading);
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36;
    text-decoration-line: underline;
}

.menu .logo {
    margin-left: 357px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.menu .navigation__list {
    display: flex;
    align-items: center;
}

.menu .navigation {
    margin-left: auto;
}

.menu .navigation__link {
    position: relative;
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 400;
    padding: 8px 22px;
}

.menu .navigation__link::after {
    display: inline-block;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-btn);
    transition: width 0.3s;
}

.menu .navigation__link:hover::after {
    width: 100%;
}

/* -- Hero-Inner */
.hero {
    position: relative;
    background: #fbfaff;
}

.hero__inner {
    display: flex;
    justify-content: center;
    padding-top: 44px;
}

.hero__media {
    position: relative;
    min-width: 514px;
    height: 705px;
    flex-shrink: 0;
}

.hero__media-img {
    position: relative;
    z-index: 1;
}

.media--diagonal-line {
    position: absolute;
    right: -156px;
    top: -80px;
}

.hero__content {
    margin-left: 156px;
    margin-top: 137px;
}

.hero__content-heading {
    max-width: 500px;
    color: var(--primary-heading);
    font-size: 8rem;
    font-weight: 500;
    line-height: 0.95;
    letter-spacing: -3.2px;
}

.hero__content-desc {
    margin-top: 20px;
    max-width: 370px;
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.hero__content-row {
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
}

.hero__content-link {
    color: var(--primary-heading);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.66;
    text-decoration-line: underline;
}

.hero__content-footer {
    margin-top: 109px;
}

.hero__content-text {
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.87;
}

.hero-social {
    display: flex;
    align-items: center;
    gap: 42px;
}

.hero-social__link {
    position: relative;
    font-size: 16px;
    color: var(--primary-heading);
}

.hero-social__link:hover {
    color: #e47878;
}

.hero-social__link::after {
    display: inline-block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #5d3bee;
    opacity: 0.2;
    border-radius: 50%;
}

.hero-social__link:hover::after {
    opacity: 1;
}

.hero__diagonal {
    position: absolute;
    right: calc((100vw - 1330px) / 2 - 80px);
    bottom: 0;
}

/* ---- Client ---- */
.client {
    margin-top: 48px;
    padding: 50px 0;
    background: var(--primary-bg);
}

.client__inner {
    display: flex;
    justify-content: center;
    gap: 105px;
}

.client__sub-heading {
    position: relative;
    margin-top: 11px;
    max-width: 253px;
    color: var(--primary-heading);
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: -1.68px;
    margin-left: 99px;
}

.client__sub-heading::before {
    position: absolute;
    top: 22px;
    left: -99px;
    display: inline-block;
    content: "";
    width: 86px;
    height: 2px;
    background: #5d3bee;
}

.client__social-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 34px;
}

/* --- Specialities ---  */
.specialities {
    margin-top: 33px;
    padding: 50px 0;
    background-color: var(--primary-bg);
}

.specialities__sub-heading {
    text-align: center;
    color: var(--primary-heading);
    font-size: 5.6rem;
    font-weight: 500;
    letter-spacing: -2.24px;
}

.specialities__desc {
    margin: 20px auto 0;
    max-width: 534px;
    color: var(--primary-color);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.specialities__list {
    margin-top: 60px;
}

.specialities__item {
    width: 370px;
    padding: 32px 42px;
    background: #fbfaff;
}

.specialities__item:hover {
    box-shadow: 1px 1px 5px #e4e2eb;
}

.specialities__icon {
    position: relative;
    width: 78px;
    height: 78px;
    object-fit: cover;
}

.specialities__icon:hover {
    cursor: pointer;
}

.specialities__icon img {
    width: 78px;
    height: 78px;
    object-fit: cover;
}

.specialities__icon::before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--primary-btn);
    opacity: 0.2;
}

.specialities__icon:hover::before {
    opacity: 1;
}

.specialities__item-sub-heading {
    margin-top: 40px;
    color: var(--primary-heading);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
}

.specialities__item-desc {
    margin-top: 15px;
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

/* === Project === */
.project {
    background: #5d3bee;
    margin-top: 90px;
    padding: 86px 0;
}

.project__head {
    display: flex;
}

.project__sub-heading {
    max-width: 468px;
    color: #fff;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: -2.24px;
}

.project__desc {
    margin-left: 160px;
    opacity: 0.7;
    margin-top: 30px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
    max-width: 370px;
}

.row-list {
    margin-top: 70px;
}

.project__item {
    position: relative;
    display: flex;
    align-items: center;
    background: #fbfaff;
    padding: 24px;
    margin-bottom: 30px;
}

.project__item:hover {
    transform: translateY(-10px);
    box-shadow: 2px 2px 10px #ccc;
    border-radius: 20px;
    transition: all 0.3s linear;
}

.project__item-content {
    margin-right: auto;
}
.project__item-heading {
    color: var(#080415);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
}

.project__item-desc {
    margin-top: 10px;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.43;
}

.project__item-link {
    display: block;
    margin-top: 20px;
    color: var(--primary-heading);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.project__item-img {
    position: relative;
    z-index: 1;
    width: 246px;
    height: 187px;
    object-fit: cover;
}

.project-diagonal {
    position: absolute;
    right: 0;
    bottom: 0;
}

.project__btn {
    margin: 60px auto 0;
    background-color: #fff;
    color: var(--primary-heading);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67;
}

/* === About === */
.about {
    padding: 40px 0;
    margin-top: 100px;
}

.about__title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #5d3bee;
    font-size: 3.2rem;
    font-weight: 500;
    letter-spacing: -1.28px;
}

.about__sub-heading {
    margin-top: 10px;
    text-align: center;
    color: var(--primary-heading);
    font-size: 5.6rem;
    font-weight: 500;
    letter-spacing: -2.24px;
}

.about__desc {
    margin: 15px auto 0;
    max-width: 49%;
    color: var(--primary-color);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    margin-bottom: 70px;
}

.about__separation {
    margin: 0 auto;
    display: block;
    width: 80%;
    height: 1px;
    background: #080415;
    opacity: 0.2;
}

.about__list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0;
}
.about__statistical {
    color: var(--primary-heading);
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.36;
    letter-spacing: 1.68px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.about__item-desc {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.about__video {
    position: relative;
    z-index: 2;
    margin-top: 70px;
}

.about__play {
    background: transparent;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
}

.about__play:hover {
    cursor: pointer;
}

.about__img {
    max-width: 100%;
    object-fit: cover;
}

.about__intro {
    position: absolute;
    right: 25px;
    bottom: 10px;
    color: var(--primary-color);
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--primary-bg);
}

/* Evaluate */

.evaluate {
    position: relative;
    margin-top: -347px;
    padding: 450px 0 74px;
    background-color: #fbfaff;
}

.evaluate__sub-heading {
    text-align: center;
    color: var(--primary-heading);
    font-size: 5.6rem;
    font-weight: 500;
    letter-spacing: -2.24px;
}

.evaluate__desc {
    max-width: 46%;
    margin: 20px auto 0;
    text-align: center;
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.evaluate__list {
    display: flex;
    overflow: hidden;
}

.evaluate__people {
    flex-shrink: 0;
    width: 100%;
    display: none;
}

.evaluate__people.active {
    display: block;
}

.evaluate__comment {
    max-width: 58%;
    margin: 60px auto 0;
    color: var(--primary-color);
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.67;
}

.evaluate__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
    gap: 15px;
}

.evaluate__icon {
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    background: #f29764;
    border-radius: 50%;
    padding-top: 6px;
}

.evaluate__avatar img {
    position: relative;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: none;
    outline: none;
    background-color: transparent;
}

.evaluate__title {
    color: var(--primary-heading);
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.34;
}

.evaluate__avatar-mt {
    margin-top: 0px;
}

.evaluate__diagonal--left {
    position: absolute;
    left: 0;
    bottom: 0;
}

.evaluate__diagonal--right {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* Question */
.question {
    margin-top: 45px;
    padding: 50px 0;
}

.question__wrapper {
    max-width: 86%;
}

.question__sub-heading {
    max-width: 48%;
    color: var(--primary-heading);
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: -2.24px;
}

.question__list {
    margin-top: 80px;
}

.question__list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #5d3bee;
    margin-bottom: 60px;
}

.question__list-item:last-child {
    margin-bottom: 0;
}

.question__list-content {
    padding: 0 22px;
}

.question__list-title {
    color: var(--primary-heading);
    font-size: 3.2rem;
    font-weight: 500;
    letter-spacing: -1.28px;
    margin-bottom: 33px;
}

.question__list-title.active {
    color: #5d3bee;
    font-size: 3.2rem;
    font-weight: 500;
    letter-spacing: -1.28px;
}

.question__list-desc {
    display: none;
    max-width: 487px;
    margin-top: 23px;
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    margin-bottom: 20px;
}

.question__img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    display: none;
}

.question__img:hover {
    cursor: pointer;
}

.question__img.active {
    display: block;
}

/* Feature */
.feature {
    margin-top: 60px;
    padding: 50px 0 140px;
}

.feature__sub-heading {
    text-align: center;
    color: var(--primary-heading);
    font-size: 5.6rem;
    font-weight: 500;
    letter-spacing: -2.24px;
}

.feature__desc {
    margin: 20px auto 0;
    color: var(--primary-color);
    max-width: 528px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.feature__email {
    margin-top: 30px;
    text-align: center;
    color: #5d3bee;
    font-size: 3.2rem;
    font-weight: 600;
    letter-spacing: -1.28px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: 3px;
    text-underline-position: from-font;
}

.feature__list {
    margin-top: 70px;
}

.feature__img {
    width: 370px;
    height: 529px;
    object-fit: cover;
}

/* Contact */
.contact .container {
    max-width: 1330px;
    background-color: #fbfaff;
}

.contact__inner {
    position: relative;
    padding: 68px 0;
    text-align: center;
}

.contact__icon {
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.contact__content {
    position: relative;
    z-index: 1;
    max-width: 570px;
    margin: 20px auto 0;
}

.contact__sub-heading {
    color: var(--primary-heading);
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: -2.24px;
}

.contact__desc {
    margin-top: 20px;
    color: var(--primary-color);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.contact__btn {
    margin: 30px auto 0;
}

.contact__decorate {
    position: absolute;
}

.contact__decorate-1 {
    left: -15px;
    bottom: 0;
}

.contact__decorate-2 {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.contact__decorate-3 {
    top: 0;
    right: -15px;
}

/* === Footer === */
.footer {   
    margin: 50px 0 20px;
    padding: 10px 0;
    background-color: var(--primary-bg);
}

.footer__container {
    max-width: 1430px;
}

.footer .menu {
    max-width: 1330px;
    margin: 0 auto;
}

.footer .separation {
    width: 100%;
    height: 1px;
    background: #0c0720;
    opacity: 0.2;
}

.footer__info {
    display: flex;
    align-items: center;
    margin: 18px 130px 0;
}

.footer__menu--link,
.footer__copyright {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 400;
}

.footer__menu {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.footer__menu--link {
    padding: 4px 18px;
    letter-spacing: -0.54px;
    border-right: 1px solid var(--primary-color);
}

.footer__menu li:last-child > .footer__menu--link {
    border-right: none;
}

.heading {
    animation: bounce; 
  animation-duration: 2s; /
}